{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}


<div class="container-fluid signup-section">
  <div class="col-12 col-md-6 offset-md-3 text-center text-black py-4">
    <h1 class="text-center">{% trans "Sign In" %}</h1>
    {% if socialaccount_providers %}
    <p >{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}" style="color:deeppink;"><strong>sign up</strong></a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}" style="color:deeppink;"><strong>sign up</strong></a> first.{% endblocktrans %}</p>
    {% endif %}
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}"><strong>{% trans "Forgot Password?" %}</strong></a>
      <button class="button-62" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
</div>


{% endblock %}