{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        {% block meta %}
        <!-- Required meta tags -->
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description"
                content="Welcome to our online beauty shop Beauty Bliss! Discover the latest beauty must-haves at BeautyBliss Shop. Browse our selection of top-quality cosmetics, skincare, and haircare products from leading brands. With easy online shopping and fast shipping, looking your best has never been easier. Shop now and enhance your natural beauty with BeautyBliss Shop">
             <meta name="keywords"
                content="beauty products, cosmetics, skincare, haircare, makeup, beauty tools, beauty accessories, top brands, online shopping, fast shipping, natural beauty, beauty must-haves, BeatyBliss">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}
        
        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
            <!-- Fonts -->
            <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            <!--  CSS -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <!-- Favicon -->
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
            <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}
        
        {% block corejs %}
            <!-- jQuery, Popper and Bootstrap JS -->
            <!-- Font awesome -->
            <script src="https://kit.fontawesome.com/b9ef575fd8.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>Beauty Bliss{% block extra_title %}{% endblock %}</title>         
    </head>
    
    <body>
        <!-- Header -->
        <header class="main-container container-fluid fixed-top">
            
            <div id="topnav" class="row pt-lg-2 d-none d-lg-flex" style="background-color:#FFABAB;">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h2 class="logo-font text-black my-0">Beauty Bliss</h2>
                    </a>
                </div>

                <div class="col-12 col-lg-8 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled float-right text-lg-right my-0 d-flex align-items-center">
                        <li class="list-inline-item">
                            <div class="box">
                                <form method="GET" action="{% url 'products' %}" class="search">
                                    <input class="input" type="text" name="q" onmouseout="this.value = ''; this.blur();">
                                </form>
                                    <i class="fas fa-search"></i>
                            </div>
                        </li>
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'wishlist' %}" class="dropdown-item" >Wishlist</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                            $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        <!-- navbar -->
            <div class="row" style="background-color:#ffffffbb">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
        </header>

        {% if messages %}
            <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
            </div>
        {% endif %}
    
        {% block page_header %}
        {% endblock %}
      
        {% block content %}
        {% endblock %}


    <!-- Footer taken from MDBootstrap.com -->
    <footer class="text-center text-lg-start text-black">
    <!-- Section: Mailchimp Signup Form -->
    <div class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom">
       
    </div>
    <!-- Section: Links  -->
    <section>
        <div class="container text-center text-md-start pt-5">
          <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Information: Name/Educational Notice -->
              <h2 class="fw-bold mb-4">
                <i class="fa-brands fa-shopify" style="color:#D14D72;"></i><span class="ml-1">Beauty Bliss</span>
              </h2>
              <p>You can find us:</p>
              <!-- Socials -->
              <p>
                <a class="text-reset text-decoration-none fs-3 p-2" href="https://github.com/Kristaal?tab=repositories" rel="noopener noreferrer nofollow"
                  target="_blank"><i class="fa-brands fa-square-github fa-2x "></i><span
                    class="sr-only">GitHub</span></a>
                <a class="text-reset text-decoration-none fs-3 p-2"
                  href="" rel="noopener noreferrer nofollow"
                  target="_blank"><i class="fab fa-facebook-f fa-2x "></i><span
                    class="sr-only">Facebook</span></a>
              </p>
            </div>
  
            <!-- Links -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h2 class="fw-bold mb-4 ">
                    Links
                  </h2>
                  <p>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="text-reset">Orders</a>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="text-reset">Orders</a>
                    {% endif %}
                  </p>
                  <p>
                    <a href="{% url 'contact' %}" class="text-reset">Contact Us</a>
                  </p>
                  <p>
                    <a href="https://www.privacypolicygenerator.info/live.php?token=bEOrggUFXhMaVMYlCsGUXitNC7AUqJZz"
                      rel="noopener noreferrer nofollow" target="_blank" class="text-reset">Privacy Policy</a>
                  </p>
            </div>
            <!-- Contacts -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h2 class="fw-bold mb-4">Contact</h2>
            <p><i class="fas fa-home me-3 text-secondary"></i> Tralee, Ireland</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i> bbliss@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +353 85 000 0000</p>
            </div>
  
            <!-- mailchimp-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto">
                <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{background:#fff; clear:left; width:300px;}
                </style>
                    <div id="mc_embed_signup">
                    <form 
                    action="https://gmail.us11.list-manage.com/subscribe/post?u=c4e558d086fd05f2b79640789&amp;id=133af14161&amp;f_id=003d99e0f0" 
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" 
                    target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group">
                    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                    </label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>   
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c4e558d086fd05f2b79640789_133af14161" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                <p class="brandingLogo"></p>
                            </div>
                        </div>
                    </div>
                    </form>
                    </div>
        </div>
      </section>
       <!-- Copyright -->
    <div class="text-center p-2 text-white" style="background-color: #D14D72;">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="{% url 'home' %}">BEAUTY BLISS</a>
      </div>
  
    </footer>

    {% block postloadjs %}
    <script>
    $('.toast').toast('show');
    </script>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>
    (function($) {
        window.fnames = new Array(); 
        window.ftypes = new Array();
        fnames[0]='EMAIL';
        ftypes[0]='email';
        fnames[1]='FNAME';
        ftypes[1]='text';
        fnames[2]='LNAME';
        ftypes[2]='text';
        fnames[3]='ADDRESS';
        ftypes[3]='address';
        fnames[4]='PHONE';
        ftypes[4]='phone';
        fnames[5]='BIRTHDAY';
        ftypes[5]='birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
        </script>
  {% endblock %}
    </body>
</html>